@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eee;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header p {
    font-size: 18px;
}

.single-service {
    border: 1px solid #ebebeb;
    text-align: center;
    background: #fff;
}

.service-bg {
    height: 200px;
    position: relative;
}

.btn-area {
    display: inline-block;
    color: #333;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    text-transform: uppercase;
}

.titleText {
    color: #100;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #100;
    font-weight: 700;
    font-size: 1.5em;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header p {
    font-size: 18px;
}

.map {
    height: 85vh;
}

.map-container {
    position: relative;
}

#map-background-container {
    background-color: white;
    padding: 2em;
}

#map-controls {
    margin-bottom: 1em;
}

.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
}

@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}

.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-containter{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}




footer {
    position: relative;
    width: 100%;
    height: auto;
    background: #111;
    color: #fff;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffffff;
}

footer .container .sec.about p {
    color: #999;
}

#footer-quick-links ul li {
    list-style: none;
}

#footer-quick-links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

#footer-quick-links ul li a:hover {
    color: #fff;
}

#footer-creator p {
    color: #999;
    font-size: 0.90em;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

.copyrightText p {
    margin-top: 0;
    margin-bottom: 0;
}

/* close */