@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eee;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header p {
    font-size: 18px;
}

.single-service {
    border: 1px solid #ebebeb;
    text-align: center;
    background: #fff;
}

.service-bg {
    height: 200px;
    position: relative;
}

.btn-area {
    display: inline-block;
    color: #333;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    text-transform: uppercase;
}

.titleText {
    color: #100;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #100;
    font-weight: 700;
    font-size: 1.5em;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header p {
    font-size: 18px;
}

.map {
    height: 85vh;
}

.map-container {
    position: relative;
}

#map-background-container {
    background-color: white;
    padding: 2em;
}

#map-controls {
    margin-bottom: 1em;
}



.slider{
	max-width: 1700px;
	border:10px solid  #343a40;
	margin:80px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
    left:300px;
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}

.slider .slider-items .item.active{
	display: block;
}








footer {
    position: relative;
    width: 100%;
    height: auto;
    background: #111;
    color: #fff;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffffff;
}

footer .container .sec.about p {
    color: #999;
}

#footer-quick-links ul li {
    list-style: none;
}

#footer-quick-links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

#footer-quick-links ul li a:hover {
    color: #fff;
}

#footer-creator p {
    color: #999;
    font-size: 0.90em;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

.copyrightText p {
    margin-top: 0;
    margin-bottom: 0;
}

/* close */