<!DOCTYPE html>
<html lang="en">

<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lincolnshire Crime Analysis</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />





    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="static/index.css" />

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <span class="navbar-brand">Lincolnshire Crime Analysis</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#crime-map-section">2021 Crime Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#crime-statistics-section">2021 Crime Statitics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#crime-classification">Crime classification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#crime-conclusions">Data Conclusions</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="welcome container my-3" id="S1">
        <div class="row">
            <div class="col-md-6 my-3">
                <h2 class="titleText">Welcome</h2>
                <p>This website is the artifact in partial fulfilment of BSc Computer Science @ University of Lincoln,
                    The artefact is created and supervised by</p>
                <ul>
                    <li>Connor Bull (19702845)</li>
                    <li>Supervisor</li>
                </ul>
                <p>The aim of this project is to analyse Lincolnshire crime data using a series of different python
                    tools while also using machine learning to measure the outcome of crime predictions</p>
            </div>
            <div class="col-md-6 d-none d-md-flex justify-items-center">
                <img class="align-self-center w-100" src="static/images/pexels-lukas-669610.jpg">
            </div>
        </div>
    </section>

    <hr>

    <section class="container crimemap" id="crime-map-section">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Overview of Lincolnshire crime</h2>
                    <p>The map below shows the locations of crime occurence in the form of a cluster map
                        <strong>per</strong> crime reported <strong>cumulative</strong> (The total number of cases in
                        that region so far) figures.
                    </p>
                    <p>The data is for the dates <strong>01/01/2021</strong> until <strong>31/12/2021</strong>
                        inclusive.</p>
                </div>
            </div>
        </div>

        <div id='map' style='width: 1100px; height: 750px;'></div>

        <p>Scroll in and out to view different layers of the cluster map and click on data point to reveal recent crime
            occurences. </p>



    </section>

    <hr>

    <section class="container crime-statistics" id="crime-statistics-section">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>2021 Crime Statictics</h2>
                    <p>This section will present graphs and tables of different crime types and areas crime are committed in.</p>
                    <p>The data presented will be analysed via<strong> Python Libaries</strong>.</p>
                </div>
            </div>
        </div>

        <div></div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3>Crime types overview</h3>
                    <p>The table below will present the occurence of different crime types in <strong> 2021</strong></p>
                </div>
            </div>
        </div>

        

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Crime Type</th>
                    <th scope="col">Count in 2021</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Violence and sexual offences</td>
                    <td>23431</td>
                </tr>
                <tr>
                    <td>Criminal damage and arson</td>
                    <td>6010</td>
                </tr>
                <tr>
                    <td>Public order</td>
                    <td>4876</td>
                </tr>
                <tr>
                    <td>Other Theft</td>
                    <td>3972</td>
                </tr>
                <tr>
                    <td>Shoplifing</td>
                    <td>3861</td>
                </tr>
                <tr>
                    <td>Burglary</td>
                    <td>2907</td>
                </tr>
                <tr>
                    <td>Vehicle crime</td>
                    <td>2229</td>
                </tr>
                <tr>
                    <td>Drugs</td>
                    <td>1508</td>
                </tr>
                <tr>
                    <td>Other crime</td>
                    <td>1264</td>
                </tr>
                <tr>
                    <td>Bicycle theft</td>
                    <td>809</td>
                </tr>
                
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <p>Below will present an overview of crime within Lincolnshire using graphs and data from <strong>
                            2021</strong></p>
                    <p>Data will present the amount of crimes per crime type and the most popular areas a crime is commited</p>
                </div>
        
                

            </div>
        </div>


        <div class="slideshow-container">
            <div class="mySlides1">
                <img src="Crime_per_month.png" style="width:100%">
            </div>

            <div class="mySlides1">
                <img src="Crime_Location_Overview.png" style="width:100%">
            </div>

            <div class="mySlides1">
                <img src="Crime_Overview.png" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>

        <br>
        <div></div>

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <p>Below will present an overview of the top 3 crimes in Lincolnshire <strong> 2021</strong></p>
                    <p>Graphs will produce the <strong>trend</strong> of the reported data over the annual year</p>
                </div>
                

            </div>
        </div>

        <br>
        <div></div>

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <p>Below will present an overview of the top 3 crimes in Lincolnshire <strong> 2021</strong></p>
                    <p>Graphs will produce the <strong>outcome</strong> of the top 3 crimes</p>
                </div>
        
                <div class="slideshow-container">
                    <div class="mySlides2">
                        <img src="VS_year.png" style="width:100%">
                    </div>
        
                    <div class="mySlides2">
                        <img src="CD_year.png" style="width:100%">
                    </div>
        
                    <div class="mySlides2">
                        <img src="PO_year.png" style="width:100%">
                    </div>
        
                    <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                </div>
        
            </div>
        </div>

               


    </section>

    <hr>

    <section class="container crime-classification" id="crime-classification">
    
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Crime Classification</h2>
                    <p>This section will present differnt <strong>Machine Learning</strong> algorithms and how they compute
                        and predict crime types and outcomes. </p>
                </div>
            </div>
        </div>
    
        <div></div>
        <br>
    
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3>Random Forest Crime Classification</h3>
                    <p>The table below will present the Random Forest classification of the 2021 crime data.</p>
                </div>
            </div>
        </div>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Precision</th>
                    <th scope="col">Recall</th>
                    <th scope="col">F1-Score</th>
                    <th scope="col">Support</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Drugs</th>
                    <td>0.65</td>
                    <td>0.10</td>
                    <td>0.17</td>
                    <td>461</td>
                </tr>
                <tr>
                    <th scope="row">Public order</th>
                    <td>0.36</td>
                    <td>0.02</td>
                    <td>0.03</td>
                    <td>1530</td>
                </tr>
                <tr>
                    <th scope="row">Violence and Sexual offences</th>
                    <td>0.57</td>
                    <td>0.92</td>
                    <td>0.70</td>
                    <td>6980</td>
                </tr>
                <tr>
                    <th scope="row">Other crime</th>
                    <td>0.63</td>
                    <td>0.06</td>
                    <td>0.10</td>
                    <td>388</td>
                </tr>
                <tr>
                    <th scope="row">Burglary</th>
                    <td>0.36</td>
                    <td>0.12</td>
                    <td>0.18</td>
                    <td>850</td>
                </tr>
                <tr>
                    <th scope="row">Other theft</th>
                    <td>0.31</td>
                    <td>0.11</td>
                    <td>0.16</td>
                    <td>1239</td>
                </tr>
                <tr>
                    <th scope="row">Criminal danmage and arson</th>
                    <td>0.28</td>
                    <td>0.32</td>
                    <td>0.30</td>
                    <td>1795</td>
                </tr>
                <tr>
                    <th scope="row">Vehcile crime</th>
                    <td>0.35</td>
                    <td>0.12</td>
                    <td>0.18</td>
                    <td>649</td>
                </tr>
                <tr>
                    <th scope="row">Shoplifiting</th>
                    <td>0.54</td>
                    <td>0.60</td>
                    <td>0.57</td>
                    <td>388</td>
                </tr>
                <th scope="row">Random Foresest report:</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <tr>
                    <th scope="row">Accuracy</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>0.52</td>
                    <td>15543</td>
                </tr>
                <tr>
                    <th scope="row">Macro avg</th>
                    <td>0.31</td>
                    <td>0.18</td>
                    <td>0.18</td>
                    <td>15543</td>
                </tr>
                <tr>
                    <th scope="row">Weighted avg</th>
                    <td>0.46</td>
                    <td>0.52</td>
                    <td>0.43</td>
                    <td>15543</td>
                </tr>
            </tbody>
        </table>
    
        <div></div>
        <br>
        <!--K nearest neighbour results-->
    
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3>K Nearest Neighbor (KNN) Classification</h3>
                    <p>The table below will present the KNN classification of the 2021 crime data.</p>
                </div>
            </div>
        </div>
    
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Precision</th>
                    <th scope="col">Recall</th>
                    <th scope="col">F1-Score</th>
                    <th scope="col">Support</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Drugs</th>
                    <td>0.11</td>
                    <td>0.16</td>
                    <td>0.13</td>
                    <td>461</td>
                </tr>
                <tr>
                    <th scope="row">Public order</th>
                    <td>0.14</td>
                    <td>0.20</td>
                    <td>0.17</td>
                    <td>1530</td>
                </tr>
                <tr>
                    <th scope="row">Violence and Sexual offences</th>
                    <td>0.56</td>
                    <td>0.72</td>
                    <td>0.63</td>
                    <td>6980</td>
                </tr>
                <tr>
                    <th scope="row">Other crime</th>
                    <td>0.14</td>
                    <td>0.07</td>
                    <td>0.09</td>
                    <td>388</td>
                </tr>
                <tr>
                    <th scope="row">Burglary</th>
                    <td>0.22</td>
                    <td>0.18</td>
                    <td>0.20</td>
                    <td>850</td>
                </tr>
                <tr>
                    <th scope="row">Other theft</th>
                    <td>0.20</td>
                    <td>0.10</td>
                    <td>0.14</td>
                    <td>1239</td>
                </tr>
                <tr>
                    <th scope="row">Criminal danmage and arson</th>
                    <td>0.29</td>
                    <td>0.16</td>
                    <td>0.21</td>
                    <td>1795</td>
                </tr>
                <tr>
                    <th scope="row">Vehcile crime</th>
                    <td>0.33</td>
                    <td>0.10</td>
                    <td>0.16</td>
                    <td>649</td>
                </tr>
                <tr>
                    <th scope="row">Shoplifiting</th>
                    <td>0.57</td>
                    <td>0.54</td>
                    <td>0.56</td>
                    <td>388</td>
                </tr>
                <tr>
                    <th scope="row">Robbery</th>
                    <td>0.17</td>
                    <td>0.01</td>
                    <td>0.02</td>
                    <td>89</td>
                </tr>
                <tr>
                    <th scope="row">Bicycle theft</th>
                    <td>0.23</td>
                    <td>0.04</td>
                    <td>0.07</td>
                    <td>259</td>
                </tr>
                <th scope="row">KNN report:</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <tr>
                    <th scope="row">Accuracy</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>0.43</td>
                    <td>15543</td>
                </tr>
                <tr>
                    <th scope="row">Macro avg</th>
                    <td>0.23</td>
                    <td>0.18</td>
                    <td>0.18</td>
                    <td>15543</td>
                </tr>
                <tr>
                    <th scope="row">Weighted avg</th>
                    <td>0.39</td>
                    <td>0.43</td>
                    <td>0.40</td>
                    <td>15543</td>
                </tr>
            </tbody>
        </table>
    
        <div></div>
        <br>
    
        <!--Multi-layer Perceptron classifier results-->
    
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3>Multi-layer Perceptron classifier Classification</h3>
                    <p>The table below will present the Multi-layer Perceptron classifier of the 2021 crime data.</p>
                    <p>Due to the poor performace of this machine learning algorithm, only significant crime type results
                        will be reported.</p>
                </div>
            </div>
        </div>
    
    
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Precision</th>
                    <th scope="col">Recall</th>
                    <th scope="col">F1-Score</th>
                    <th scope="col">Support</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Violence and Sexual offences</th>
                    <td>0.46</td>
                    <td>0.92</td>
                    <td>0.62</td>
                    <td>6980</td>
                </tr>
                <tr>
                    <th scope="row">Other crime</th>
                    <td>0.89</td>
                    <td>0.02</td>
                    <td>0.04</td>
                    <td>388</td>
                </tr>
                <tr>
                    <th scope="row">Shoplifiting</th>
                    <td>0.31</td>
                    <td>0.31</td>
                    <td>0.31</td>
                    <td>388</td>
                </tr>
                <th scope="row">KNN report:</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <tr>
                    <th scope="row">Accuracy</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>0.44</td>
                    <td>15543</td>
                </tr>
                <tr>
                    <th scope="row">Macro avg</th>
                    <td>0.15</td>
                    <td>0.10</td>
                    <td>0.08</td>
                    <td>15543</td>
                </tr>
                <tr>
                    <th scope="row">Weighted avg</th>
                    <td>0.27</td>
                    <td>0.44</td>
                    <td>0.31</td>
                    <td>15543</td>
                </tr>
            </tbody>
        </table>
    
        <div></div>
        <br>
    
    
    
    
    
    
    
    
    
    
    </section>

    <hr>

<section id="data-comments-section" class="container mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="section-header">
                <h2>Data Conclusions</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                The aim of this project was to explore Lincolnshire crime data betweek the period of 01/01/2021 to
                12/12/2021 from the start of the project,
                We can go ahead and say that the data has been explored using a series of different machine learning
                algorithms and python tools which further
                infromation can be found in the supporting document of this artifact.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Dataset Limitations</h3>
            <p>
                Some data may have to been reported preciecly when the crime occured leading to to anomalys in some of
                the top 3 tredning crimes over the year.
                Other limitations that where faces within the dataset was that there was not that much data made
                available from archives leading to the machine learning
                algorithms not being able to manipulate much data to produce better predictions.
            </p>
        </div>
        <div class="col-md-6">
            <h4>Data.Police Dataset</h4>
            <p>At the time of writing the Lincolnshire Data set can be found at <a href="https://data.police.uk/data/"
                    rel="noopener" target="_blank">Data.Poilce downloads</a>. when opened, an
                option to select different counties is given with drop downs of the time frame. The features within the data are as folllows.</p>
            <ul>
                <li>Crime ID: a unique identifyer for crime records, this feature got dropped as there was no use for this during our analysis</li>
                <li>Month: This features was used to produce the reports on the different crime types throughout the months of a year</li>
                <li>Reported by / falls within: only signlas what polce departmented documented the crime</li>
                <li>Longitude / latitude: These features was extracted into a geojson file in which helped build and create a script to map out crime points.</li>
                <li>Location: Was used to calculate where the most crimes are comitted</li>
                <li>LSOA Code / Name: These features where used to extract data that belonged to just Lincoln city for the map. </li>
                <li>Crime type: This feature was used to extract exactly what crime type was comitted</li>
                <li>Last Outcome: Used to identify what happened with the case</li>
                <li>Context: Had no information due to security reassons. Was dropped from dataframe</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Conclusions</h3>
                <p>Main points to be discussed within the data analysis of the crime are:</p>
                <ul>
                    <li>23431 Violence and secual offences occured in the year 23431, criminal damage offences accounted
                        for 6010 if the total crime and, public order offences where at 4876,
                        These where the top 3 crimes</li>
                    <li>Most of the top 3 crimes in Lincolnshire, esepcially thoose that was violent and sexual lead to
                        a suspect not being procecuted. (This was over 14000 of the cases</li>
                    <li>Most of the crimes in Lincoln appear to happen at a supermarket or a parking area, with the
                        least amount being committed near educational buildings</li>
                    <li>The random forest algorithm was the best at predicting target crime types with the hhighest
                        predicted crime type being voiolence and sexual offenses being the most accurate with 0.92
                        recall and
                        0.70 f1-score.
                    </li>
                    <li>Judging by the map implemented within the website, it appears that most cases of crime occur
                        within the city center and not around educational institutions.</li>
                </ul>
            </div>
        </div>
</section>



    <hr>


    <section id="attributions-section" class="container mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Attributions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h3>Data</h3>
                <ul>
                    <li>Contains Lincolnshire Police Data &copy; Crown copyright and database right 2021</li>
                    <li>Map data &copy; OpenStreetMap contributors</li>
                    <li>Map imagery &copy; Mapbox</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Libraries</h3>
                <ul>
                    <li><a href="https://getbootstrap.com/">Bootstrap 4</a></li>
                    <li><a href="https://jquery.com/">jQuery</a></li>
                    <li><a href="https://leafletjs.com/">Leaflet</a></li>
                </ul>
            </div>
        </div>
    </section>






    <footer class="py-5 px-2 px-md-0">
        <div class="container">
            <div class="row">
                <div class="sec col-md-6" id="footer-quick-links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">2021 Crime Heatmap</a></li>
                        <li><a href="">2021 Crime Statistics</a></li>
                        <li><a href="">2021 Crime forecasting</a></li>
                    </ul>
                </div>
                <div class="sec col-md-6" id="footer-creator">
                    <h2>Developed & Supervised by:</h2>
                    <p>Connor Bull (19702845)</p>
                    <p>Supervisor</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright © 2021 University Of Lincoln. All Rights Reserved.</p>
    </div>

    <script> </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="static/map.js"></script>
    <script src="static/slider1.js"></script>

</body>

</html>