<!DOCTYPE html>
<html lang="en">

<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lincolnshire Crime Analysis</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />





    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="static/index.css" />

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <span class="navbar-brand">Lincolnshire Crime Analysis</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">2021 Crime Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">2021 Crime Statitics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Crime classification</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="welcome container my-3" id="S1">
        <div class="row">
            <div class="col-md-6 my-3">
                <h2 class="titleText">Welcome</h2>
                <p>This website is the artifact in partial fulfilment of BSc Computer Science @ University of Lincoln,
                    The artefact is created and supervised by</p>
                <ul>
                    <li>Connor Bull (19702845)</li>
                    <li>Supervisor</li>
                </ul>
                <p>The aim of this project is to analyse Lincolnshire crime data using a series of different python
                    tools while also using machine learning to measure the outcome of crime predictions</p>
            </div>
            <div class="col-md-6 d-none d-md-flex justify-items-center">
                <img class="align-self-center w-100" src="static/images/pexels-lukas-669610.jpg">
            </div>
        </div>
    </section>

    <hr>

    <section class="container crimemap" id="crime-map-section">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Overview of Lincolnshire crime</h2>
                    <p>The map below shows the locations of crime occurence in the form of a cluster map
                        <strong>per</strong> crime reported <strong>cumulative</strong> (The total number of cases in
                        that region so far) figures.
                    </p>
                    <p>The data is for the dates <strong>01/01/2021</strong> until <strong>31/12/2021</strong>
                        inclusive.</p>
                </div>
            </div>
        </div>

        <div id='map' style='width: 1100px; height: 750px;'></div>

        <p>Scroll in and out to view different layers of the cluster map and click on data point to reveal recent crime
            occurences. </p>



    </section>

    <hr>

    <section class="container crimestatistics" id="crime-map-section">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>2021 Crime Statictics</h2>
                    <p>This section will present graphs of different crime types and areas crime are committed in.</p>
                    <p>The data presented will be analysed via<strong> Python Libaries</strong>.</p>
                </div>
            </div>
        </div>



    </section>

    <hr>

    <section class="container crimestatistics" id="crime-map-section">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Crime Classification</h2>
                    <p>This section will present differnt <strong>Machine Learning</strong> algorithms and how the
                        compute and predict crime types and outcomes. </p>

                </div>
            </div>
        </div>



    </section>

    <hr>


    <section class="container crimestatistics" id="crime-map-section">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Data Conclusions</h2>
                    <p>Summary of data findings </p>

                </div>
            </div>
        </div>

    </section>

    <hr>


    <section id="attributions-section" class="container mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Attributions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h3>Data</h3>
                <ul>
                    <li>Contains Lincolnshire Police Data &copy; Crown copyright and database right 2021</li>
                    <li>Map data &copy; OpenStreetMap contributors</li>
                    <li>Map imagery &copy; Mapbox</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Libraries</h3>
                <ul>
                    <li><a href="https://getbootstrap.com/">Bootstrap 4</a></li>
                    <li><a href="https://jquery.com/">jQuery</a></li>
                    <li><a href="https://leafletjs.com/">Leaflet</a></li>
                </ul>
            </div>
        </div>
    </section>






    <footer class="py-5 px-2 px-md-0">
        <div class="container">
            <div class="row">
                <div class="sec col-md-6" id="footer-quick-links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">2021 Crime Heatmap</a></li>
                        <li><a href="">2021 Crime Statistics</a></li>
                        <li><a href="">2021 Crime forecasting</a></li>
                    </ul>
                </div>
                <div class="sec col-md-6" id="footer-creator">
                    <h2>Developed & Supervised by:</h2>
                    <p>Connor Bull (19702845)</p>
                    <p>Supervisor</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright © 2021 University Of Lincoln. All Rights Reserved.</p>
    </div>

    <script> </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="static/map.js"></script>

</body>

</html>